@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .fix-width {
      width: 380px;
      overflow-y: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .paginationBttns {
      width: 100%;
      display: flex;
      height: 20px;
      align-items: center;
      justify-content: flex-end;
      font-size: 11px;
      margin-bottom: 90px;
      border-style: none;
      margin-left: 1rem;
    }
  }
#dataTable {
  border-collapse: collapse;
  min-width: 100%;
  background: #fff;
  margin-top: 20px;
  border-radius: 10px;
  padding: 5rem;
  margin-bottom: 20px;
  box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: 0.2);
  text-align: center;
}

#dataTable th {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  padding: 1.2rem;
  text-align: center;
}

#dataTable td {
  padding: 1.3rem;
  float: center;
  transition: all 1s ease-in-out;
  cursor: pointer;
  max-width: 200px;

}

td label{
  cursor: pointer;
}

td label:hover{
  cursor: pointer;
  text-decoration: underline;
}

#dataTable #COL_SPLIT{
  word-wrap: break-word;
  max-width: 50px;
}




#dataTable tr:hover {
  background: rgba($color: #bbbbbb, $alpha: 0.2);
}

#dataTable a {
  cursor: pointer;
  color: #000000;
}

#dataTable span:hover {
  color: var(--text-grey);
}

.paginationBttns {
  width: 100%;
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: flex-end;
  font-size: 11px;
  margin-bottom: 90px;
  border-style: none;
}

.paginationBttns a {
  box-shadow: 3px 4px 5px rgba($color: #000000, $alpha: 0.2);
  background: #e3e3e3;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #6e6e6e;
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  cursor: pointer;
  margin-top: 30px;
}

.paginationBttns a:hover {
  background: #4682B4	;
  color: #fff;
  border: 1px solid #4682B4	;
}

.paginationBttns a:focus {
  background: #4682B4	;
  color: #fff;
  outline: none;
}

.paginationActive a {
  background: #4682B4	;
  color: #fff;
  border: 1px solid #4682B4	;
}

table{
  table-layout: fixed;
}