.create-template-form-group{
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.create-template-form-group input{
    min-width: 200% !important;
}